#status {
    color: green;
}

#options {
    > div {
        &[title] label {
            text-decoration: underline;
            text-decoration-style: dotted;
        }

        &.suboption {
            margin-left: 16px;
        }
    }
    label, input {
        vertical-align: middle;
    }
}
